html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #4254f5;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #ddd;
    color: 000;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    color: #4254f5;
    font-size: 1.6rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

header a {
    color: #ddd;
    padding: 1rem;
}

a.brand {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.row.center {
    justify-content: center;
}

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}

.card {
    background-color: #f8f8f8;
    border: 0.1rem solid #c0c0c0;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
}

.rating span {
    color: #fae60a;
    margin: 0.1rem;
}